@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Poppins&display=swap");

:root {
  --cor-fundo: white;
  --cor-primaria: #85586f;
  --cor-secundaria: #dfd3c3;
  --cor-terciaria: #d0b8a8;
  --fonte-primaria: "Montserrat", sans-serif;
  --fonte-secundaria: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-primaria);
}

.cabecalho {
  background-color: var(--cor-primaria);
  text-align: center;
  padding-top: 0.5rem;
  color: var(--cor-terciaria);
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 0.25rem 0;
  align-items: center;
}

.menu__busca {
  border: solid 0.1rem;
  border-radius: 1rem;
  width: auto;
  color: var(--cor-secundaria);
}

.txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 0.5rem;
  font-style: italic;
  font-size: 1rem;
  border: none;
  height: 2rem;
  width: auto;
  color: var(--cor-secundaria);
}

.btnBusca {
  color: var(--cor-primaria);
  border: none;
  float: left;
  height: 2rem;
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
  font-weight: bold;
  background: var(--cor-secundaria);
}

.menu__dropdown {
  float: left;
  overflow: hidden;
}

.menu__dropdown__btn {
  background-color: var(--cor-primaria);
  color: var(--cor-terciaria);
  padding: 1rem;
  font-size: 1rem;
  border: none;
  position: relative;
}

.menu__dropdown__conteudo {
  display: none;
  position: absolute;
}

.menu__dropdown__conteudo li {
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  width: 10rem;
  padding: 0.5rem;
  text-align: center;
  list-style-type: none
}

.menu__dropdown__conteudo li:hover{
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  font-style: italic;
  list-style-type: none
}

.menu__dropdown:hover .menu__dropdown__conteudo {
  display: block;
  cursor: pointer;
}

.produtos {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.produto__detalhe {
  border: solid 0.15rem var(--cor-primaria);
  border-radius: 1rem;
  width: 11rem;
}

.produto__detalhe__imagem {
  max-width: 12rem;
  max-height: 15rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.produto__detalhe__nome {
  color: var(--cor-primaria);
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  height: 8rem;
}

.produto__detalhe__marca__preco {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.produto__detalhe__marca,
.produto__detalhe__preco {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--cor-primaria);
}

.produto__detalhe__avaliacoes {
  color: var(--cor-primaria);
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.rodape {
  background-color: var(--cor-primaria);
  color: var(--cor-terciaria);
  font-family: var(--fonte-secundaria);
  text-align: center;
  padding: 24px;
}
