@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Poppins&display=swap");

:root {
  --cor-fundo: #f8ede3;
  --cor-primaria: #85586f;
  --cor-secundaria: #dfd3c3;
  --cor-terciaria: #d0b8a8;
  --fonte-primaria: "Montserrat", sans-serif;
  --fonte-secundaria: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte-primaria);
  background-color: var(--cor-fundo);
}

.cabecalho {
  background-color: var(--cor-primaria);
  text-align: center;
  padding-top: 0.5rem;
}

.cabecalho__titulo {
  color: var(--cor-secundaria);
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 0.25rem 0;
  align-items: center;
}

.menu__busca {
  border: solid 0.1rem;
  border-radius: 1rem;
  width: auto;
  color: var(--cor-secundaria);
}

.txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 0.5rem;
  font-style: italic;
  font-size: 1rem;
  border: none;
  height: 2rem;
  width: auto;
  color: var(--cor-secundaria);
}

.btnBusca {
  color: var(--cor-primaria);
  border: none;
  float: left;
  height: 2rem;
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
  font-weight: bold;
  background: var(--cor-secundaria);
}

.menu__dropdown {
  background-color: var(--cor-primaria);
  color: var(--cor-fundo);
  padding: 1rem;
  font-size: 1rem;
  border: none;
}

.menu__dropdown__marcas,
.menu__dropdown__categoria,
.menu__dropdown__ordenacao {
  display: none;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  opacity: 0.8;
  width: auto;
  box-shadow: 5px 5px 15px -3px var(--cor-secundaria);
}

.menu__dropdown__marcas p {
  background-color: #f1f1f1;
}

.menu__dropdown:hover .menu__dropdown__marcas {
  display: block;
}

/* .menu__dropdown__marcas .marcas:hover
,
.menu__dropdown__categoria,
.menu__dropdown__ordenacao {
  display: flex;
  flex-direction: column;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  opacity: 0.8;
  width: auto;
  box-shadow: 5px 5px 15px -3px var(--cor-secundaria);
}
 */

.produtos {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
}

.produto__detalhe {
  border: solid 0.15rem var(--cor-primaria);
  border-radius: 1rem;
}

.produto__detalhe__imagem {
  max-width: 12rem;
  max-height: 15rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.produto__detalhe__nome {
  color: var(--cor-primaria);
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.produto__detalhe__marca__preco {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.produto__detalhe__marca,
.produto__detalhe__preco {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--cor-primaria);
}

.rodape {
  background-color: var(--cor-primaria);
  color: var(--cor-terciaria);
  font-family: var(--fonte-secundaria);
  text-align: center;
  padding: 24px;
}
